* {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	background-image: url('imagen.jpg');
    overflow: hidden;
}

.container {
    background-color: rgba(255, 0, 0, 0.2);
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80vh;

}

.folder img {
	width: 6rem;
	cursor: move;
    z-index: 999;
}

.papelera {
    grid-area: 6 / 11 / 7 / 12;
}

.papelera img {
    cursor: move;
}

.modal {
    display: none;
}



