/*Crédits:;
Diseño & Programación: Ninjasweb.com
Enero 2020
*/


/*Config General*/
* {
	padding: 0;
	margin: 0;
}

p {
    font-family: sans-serif;
}

img {
	max-width: 100%;
}

body {
	background-image: url('imagen.jpg');
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    position: relative;
    padding: 30px;

}

/* Header */
.header {
    width: 100vw;
    height: 35px;
    background-color: #ccc;
    display: inline-block;
}

.finder {
    font-weight: bold;
}

.header .lf_header {
    font-family: arial;
    float: left;
    margin: auto;
    margin-left: 30px;
    margin-top: 8px;
}

.header .rg_header {
    margin-right: 40px;
    margin-top: 8px;
    font-family: sans-serif;
}

.header img {
    max-height: 100%;
    height: 30px;
    float: right;
    margin-right: 20px;
}

.header p {
    float: right;
}

/*Carpetas*/

.folder {
    position: relative;
    -webkit-box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.31); 
    box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.31);
    text-align: center;
}

.folder img {
	width: 5em;
	cursor: grab;
    z-index: 9;
}

.folder p {
    color: #fff;
    font-family: sans-serif;
}

/* PAPELERA */

.papelera {
    grid-area: 6 / 11 / 7 / 12;
}

.papelera img {
    cursor: move;
}

.papelera p {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

/*MODAL*/

#modal {
    display: none;
}

.modal {
    width: 400px;
    height: 300px;
    background-color: #efefef;
    z-index: 99;
    position: absolute;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.31); 
    box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.31);
}

.modal .modal_header {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

/*Botón cerrar rojo*/

.modal .modal_header button {
    cursor: pointer;
    background-color: #f17793;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal .modal_header button:hover {
    background-color: #ff2d5d;
}

/*Botón amarillo*/
.modal .modal_header .btn_amarillo {
    background-color: #fdbd3b;
}
.modal .modal_header .btn_amarillo:hover {
    background-color: #dd970a;
}

/*Botón verde*/
.modal .modal_header .btn_verde {
    background-color: #31c846;
}
.modal .modal_header .btn_verde:hover {
    background-color: #008212;
}






