/*Crédits:;
Diseño & Programación: Ninjasweb.com
Enero 2020
*/


/*Config General*/
* {
	padding: 0;
	margin: 0;
}

p {
    font-family: sans-serif;
}

img {
	max-width: 100%;
}

body {
	background-image: url('imagen.jpg');
    overflow: hidden;
}

.container {
    background-color: rgba(255, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;

}

/* Header */
.header {
    width: 100vw;
    height: 30px;
    background-color: #ccc;
    display: inline-block;
}

.header .finder {
    font-weight: bold;
    font-family: arial;
    float: left;
    margin: auto;
}

.header img {
    max-height: 100%;
    float: right;
}

.folder img {
	width: 6em;
	cursor: move;
    z-index: 999;
}

.folder p {
    color: #fff;
    font-family: sans-serif;
}

/* PAPELERA */

.papelera {
    grid-area: 6 / 11 / 7 / 12;
}

.papelera img {
    cursor: move;
}

.papelera p {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

.modal {
    display: none;
}



